
.home {
    background-color: #88C6AC;
}

.culture {
    background-color: #DD6B7D;
}

.products {
    background-color: #fea3a3;
}

.contact {
    background-color: #F78557;
}

.register {
    background-color: #F0C59D;
}